#teamMembers {
  height: auto;
  padding: 5rem;
  font-family: var(--font-p);
}

#teamMembers .rdt_TableHeadRow {
  background-color: var(--color_1);
  font-weight: bolder;
  font-size: 1rem;
}

#teamMembers h2 {
  margin-bottom: 2rem;
}
.table-teammembers {
  border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
