#comments-list {
  background-color: rgba(206, 205, 205, 0.472);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 2rem;
}

#comments-list .comment {
  border: solid 0.5px black;
  padding: 1rem;
  margin-top: 2rem;
}

#comments-list p:nth-child(1) {
  border-bottom: dotted 0.1px black;
  color: rgb(86, 86, 86);
}

#comments-list p:nth-child(2) {
  padding-top: 1rem;
  color: black;
}
