#comments-list {
  background-color: rgba(206, 205, 205, 0.169);
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
  padding: 1rem;
}
#comments-list h3 {
  text-align: left;
  padding-bottom: 1rem;
}
.comments-container {
  text-align: left;
  color: black;
}
#comments-list .comment {
  border: solid 0.5px black;

  margin-bottom: 1rem;
}
#comments-list p {
  padding: 1rem;
}
#comments-list p:nth-child(1) {
  border-bottom: dotted 0.1px black;
}
