#ideasButton .text {
  background-color: var(--color_2);
  padding: 0.2rem 1rem;
  font-size: var(--font-size-small);
  border-radius: var(--border-radius);
  color: var(--color_light);
}

#ideasButton {
  display: flex;
  flex-direction: row;
  position: relative;
}

#ideasButton .plus-btn {
  color: var(--color_2);
  cursor: pointer;
  padding-left: 0.5rem;
}

#ideasButton .plus-btn:hover {
  color: var(--color_1);
  transition: var(--transition);
}
