#dashboard {
  display: flex;
  flex-direction: row;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

#box {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
#box :nth-child(1) {
  flex: 1;
}

#box :nth-child(2) {
  flex: 2;
}
