@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

:root {
  --color_1: #e89759;
  --color_2: #162f3f;
  --color_2_disabled: #405969;
  --color_dark: #242424;
  --color_light: #e8e5e5;
  --background-color: #f0f8ff;
  --font-size-h1: 3.5rem;
  --font-size-h2: 2.2rem;
  --font-size-h3: 1.5rem;
  --font-size-nav: clamp(1.2rem, 2vw, 1.8rem);
  --font-size-p: clamp(1rem, 2vw, 1.8rem);
  --border-radius: 5px;
  --font-p: "Hind", sans-serif;
  --font-h: "Montserrat", sans-serif;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-h);
  color: var(--color_1);
}
h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p,
a,
li,
td {
  text-decoration: none;
  font-size: var(--font-size-p);
  color: var(--color_dark);
  font-family: var(--font-p);
}

a:hover {
  font-size: var(--font-size-h3);
  transition: var(--transition);
}

.btn-blue {
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  padding: 0.2rem 1.2rem;
  border-radius: 5px;
  background-color: var(--color_2);
  color: var(--color_light);
  transition: var(--transition);
  border: none;
}

.btn-orange {
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  padding: 0.2rem 1.2rem;
  border-radius: 5px;
  background-color: var(--color_1);
  color: var(--color_light);
  transition: var(--transition);
  border: none;
}

button:hover {
  background-color: var(--background-color);
  color: var(--color_dark);
  border: 2px solid var(--color_2);
}

.btn-orange:hover {
  border: 2px solid var(--color_1);
  color: var(--color_1);
}
