.displayproject-main {
  display: flex;
  margin: 1rem;
  align-items: center;
}

.user-selection {
  margin: 1rem;
  text-align: center;
}

.project-synthesis {
  width: 80ch;
  display: flex;
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-blue {
  margin: 1rem;
}
.btn-orange {
  margin: 1rem;
}

.btn-greyed {
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  padding: 0.2rem 1.2rem;
  border-radius: 5px;
  background-color: var(--color_2_disabled);

  color: var(--color_light);
  transition: var(--transition);
  border: none;
  margin: 1rem;
}

h2 {
  display: inline;
}

summary {
  display: inline;
}
