#projects-container {
  display: flex;
}
.content {
  padding: 2rem;
  width: 100vh;
}

.user-selection {
  display: flex;
  padding: 1.5rem;
  text-align: center;
}
.displayproject-main {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}
.displayproject-main * {
  text-align: left;
}

.project-synthesis {
  width: 40ch;
  text-align: left;
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
}

.btn-blue {
  margin: 1rem;
  padding: 6rem;
  width: 5.5rem;
  font-size: 1rem;
  text-align: center !important;
}

.btn-orange {
  margin: 1rem;
  width: 5rem;
  font-size: 1rem;
  text-align: center;
}

.btn-greyed {
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  padding: 0.2rem 1.2rem;
  border-radius: 5px;
  background-color: var(--color_light);
  transition: var(--transition);
  border: 2px solid var(--color_2);
  margin: 1rem;
  width: 5.5rem;
  text-align: center;
}

.btn-greyed2 {
  margin: 1rem;
  width: 5rem;
  font-size: 1rem;
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  background-color: var(--background-color);
  border: 2px solid var(--color_1);
  text-align: center;
}

.btn-greyed:hover {
  background-color: var(--color_2);
  color: var(--color_light);
}

h3 {
  display: inline;
}

summary {
  display: inline;
}
